body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5em;
    //color: red;
    background: #79c3d2;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    /*background-color: white;*/
    margin-top: 60px;
}

#content {
    background-color:#d9eef2;
    padding: 40px 0px;
    display: block;
}

#footer {
    background-color:#262626;
    padding: 15px;
    font-family: arial;
    color: #666666;
    font-size: 0.8em;
    font-weight:100;
}

#header {
    background-color: #143352;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 36px;
    border-bottom: solid 3px #d9eef2;
}

#header .logo {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
    color: #dedede;
    margin-left: 0.3em;
    margin-top: 0.3em;
    font-style: none;

}

a {
    text-decoration: none;
}


#header .button a{
    border: solid 1px #d9eef2;
    position: absolute;
    right: -1px;
    top: -1px;
    font-family: arial;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    list-style: none;
    color: white;
}

#header .button a:hover{
    background-color: #d9eef2;
    color: #262626;
    text-decoration: none;
}


.clear {
    clear: both;
}


.grid {
    position: relative;
    margin-left: 10px;
    background: #143352;
    float: left; 
}

.grid_3 {
     
    width:940px;
        
    }
    
.grid_1 {
        width: 306px;
    }

.grid ul {

    list-style: none;
}

.grid a{
    font-family: arial;
    border: solid 1px white;
    display: block;
    color: white;
    margin-left: -2em;
    margin-bottom: 0.2em;
    margin-right: 0.4em;
    text-decoration: none;
    padding: 0.5em 0 0.5em 1.3em;
    list-style: none;
}
.grid a:hover{
    background-color: #d9eef2;
    color: #262626;
    text-decoration: none;
}

.grid h1 {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 1.2em;
    color: #d9eef2;
    font-size: 1.2em;
  
    
}

.grid ul {

    list-style: none;
}


#navtree {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.9em;
    padding: 30px;
    color: white;
}


#content table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    padding: 1em;
    width: 960px;
}

#content thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

#content td {
    padding: 0.3em 1em 0.3em 1em;
}

#content .button a{
    font-family: arial;
    border: solid 1px #143352;
    color: black;
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    padding: 0.5em;
    display: inline-block;
    float: left;
}
#content .button a:hover{
    background-color: #143352;
    color: white;
    text-decoration: none;
}

tbody tr:nth-child(2n) {
    background: #143352;
    color: white;
}

#content tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

/* Centre the form within the page */
#form {
    margin:0 auto;
    width:20em;
}

/* Style the text boxes */
#form input, textarea {
    width:20em;
    height:1.8em;
    background:white;
    border:1px solid #dedede;
    padding:0.2em;
    margin-bottom:1.2em;
    font-size:0.9em;
    color:black;
}

#form textarea {
    height:4em;
}

.clickableRow:hover {
    background: #FFD801;
    color: black;
    cursor: pointer; 
}