body {
    font-family: Arial;
    font-size: 100%;
    line-height: 1.5em;
    //color: red;
    background: #79c3d2;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    /*background-color: white;*/
    margin-top: 60px;
}

#content {
    background-color:#d9eef2;
    padding: 40px 0px;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 200px;
}

#footer {
    background-color:#262626;
    padding: 15px;
    font-family: arial;
    color: #666666;
    font-size: 0.8em;
    font-weight:100;
    height: 100px;
}

#header {
    background-color: #143352;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 36px;
    border-bottom: solid 3px #d9eef2;
}

#header .logo {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
    color: #dedede;
    margin-left: 0.3em;
    margin-top: 0.3em;
    font-style: none;

}

a {
    text-decoration: none;
}


#header .button a{
    border: solid 1px #d9eef2;
    position: absolute;
    right: -1px;
    top: -1px;
    font-family: arial;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 1em;
    list-style: none;
    color: white;
}

#header .button a:hover{
    background-color: #d9eef2;
    color: #262626;
    text-decoration: none;
}


.clear {
    clear: both;
}


.grid {
    position: relative;
    background: #143352;
    
    
}

.grid_3 {
    padding-top: 5px;
    width:931px;
    margin-right: 15px;

}

.grid_1 {
    float: left;
    width: 300px;
    margin-right: 15px;
    }

.grid ul {

    list-style: none;
}

.grid a{
    font-family: arial;
    border: solid 1px white;
    display: block;
    color: white;
    margin-left: -2em;
    margin-bottom: 0.2em;
    margin-right: 0.4em;
    text-decoration: none;
    padding: 0.5em 0 0.5em 1.3em;
    list-style: none;
}
.grid a:hover{
    background-color: #d9eef2;
    color: #262626;
    text-decoration: none;
}

.grid h1 {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 1.2em;
    color: #d9eef2;
    font-size: 1.2em;


}

.grid ul {

    list-style: none;
}


#navtree {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    padding: 30px;
    color: white;
    
}
#navtree a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding: 5px;
}



.list table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    width: 925px;
    border-top: #666666;
    border-top-style: solid;
}

.list thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #c0c0c0;
    text-align: left;

}

.list th {
    padding: 0.3em 1em 0.3em 1em;

}
.list td {
    padding: 0.3em 1em 0.3em 1em;
}



.list tbody tr:nth-child(2n) {
    background: #143352;
    color: white;
}

.list tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.subcontrol .button a{
    font-family: arial;
    border: solid 1px #143352;
    color: black;
    margin-right: 1.5em;
    text-decoration: none;
    padding: 0.6em;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
}
.subcontrol .button a:hover{
    background-color: #143352;
    color: white;
    text-decoration: none;
}

/* Centre the form within the page */
#form {
    margin:0 auto;
    width:20em;
}

/* Style the text boxes */
#form input, textarea {
    width:20em;
    height:1.8em;
    background:white;
    border:1px solid #dedede;
    padding:0.2em;
    margin-bottom:1.2em;
    font-size:0.9em;
    color:black;
}

#form textarea {
    height:4em;
}

.list .clickableRow:hover {
    background: #FFD801;
    color: black;
    cursor: pointer; 
}

.card {
    border-width:1em;
    border-style:solid;
    border-color:white;
    background-color: #79c3d2;
    padding: 15px;
    width: 25.6em;
    height: 17em;
    margin-top: 4em;
    margin-bottom: 15px;
}

.card table {
    border-spacing: 0px;
    text-align: center;
}

.card td {

    width:5em;
    height:5em;
    border-radius:5em;
    background-color:white;
    text-align: center;
}

.card .number {
    font-weight: bold;          
}

.card .number {
    margin-top: 8px;
}

.game {
    display: inline-block;
}

.game .number-input .number {
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
    background-color: #F0F8FF;
    margin: 0.1em;
    height: 2.5em;
    width: 2.5em;
    padding-top: 5px;
    padding-left: 5px;
}
.checked {
    color: #c0c0c0;
    
}


.game .set-number {
    text-align: right;
    margin-right: 15px;
}

.game .name {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.game .set {
    text-align: right;
    margin-right: 15px;
}

.game .time {
    text-align: right;
    margin-right: 15px;
}

.game .number-input {

}

.game .title {
    font-size: 1.2em;
    margin-bottom: 15px;
    border-top: #79c3d2 solid 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: -15px;
}

.price-input {
    margin-bottom: 10px;
}

.infobox {
    background: #FFE87C;
    font-family: arial;
    border: solid 1px gray;
    display: block;
    color: black;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    list-style: none; 
    font-size: 0.8em;
}

.warning {
        background: #F62217;
        color: white;
    }
    
.ok {
        background: green;
        color: white;
    }
.inputform {
        padding-left: 25px;
        padding-bottom: 25px;
        color: white;
        
    }